<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Liste des APIS - End Points </title>
</head>
<body>
    <h3>Liste des APIS - End Points </h3>
   
    <ul>
        <li><a href="/admin/" class="link"><span class="text">Admin</span></a></li>
        <li><a href="/api/produits/" class="link"><span class="text">Produits</span></a></li>
        <li><a href="/api/clients/" class="link"><span class="text">Clients</span></a></li>
        <li><a href="/api/commandes/" class="link"><span class="text">Commandes</span></a></li>
        <li><a href="/api/modes_paiement/" class="link"><span class="text">Modes de paiement</span></a></li>
        <li><a href="/api/adresses/" class="link"><span class="text">Adresses</span></a></li>
        <li><a href="/api/remboursement/" class="link"><span class="text">Remboursement</span></a></li>
        <li><a href="/api/ligneCommande/" class="link"><span class="text">Ligne de commande</span></a></li>
      </ul>

</body>
</html>